@page
@model Notino.Charts.Web.Pages.Contexts.IndexModel
@{
    ViewData["Title"] = "Contexts";
}

<h1 class="display-3">Contexts</h1>

<div class="row">
    @foreach (var context in Model.Contexts)
    {
        <div class="card shadow" style="width: 18rem;">
            <h4 class="card-header">
                @context.Name
            </h4>
            <div class="card-body">
                <dl>
                    <dt>Server</dt>
                    <dd>@context.Server</dd>
                </dl>
            </div>
        </div>
    }
</div>