@page "{context}/{name}"
@model Notino.Charts.Web.Pages.Releases.DeleteModel
@{
    ViewData["Title"] = "Delete Release";
}

<h2>Delete @Model.Release.Name</h2>

<p>Are you sure you want to delete <strong>@Model.Release.Name</strong> on cluster <strong>@Model.Release.Cluster</strong>?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a class="btn btn-secondary" asp-page="/Releases/Index">No</a>
</form>