@page "{chart}/{version?}"
@model Notino.Charts.Web.Pages.Releases.InstallModel
@{
    ViewData["Title"] = "Install";
}

<h4>Install @Model.Chart.Name</h4>

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="ReleaseName">Release Name</label>
            <input type="text" class="form-control" asp-for="ReleaseName" />
        </div>
        <div class="col-md-4">
            <label for="version">Version</label>
            <input type="text" id="version" value="@Model.Release.Version.ToString()" readonly class="form-control-plaintext" />
        </div>
        <div class="col-md-4">
            <label asp-for="KubernetesContext">Kubernetes Context</label>
            <select class="custom-select" asp-for="KubernetesContext" asp-items="@Model.Contexts.Select(c => new SelectListItem { Value = c.Name, Text = c.Name })">
                <option value="">Choose...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Values">Values</label>
            <textarea class="form-control" asp-for="Values" rows="15"></textarea>
        </div>
    </div>
    <hr />
    <button class="btn btn-primary" type="submit">Install</button>
    <a class="btn btn-secondary" asp-page="/Releases/Index">Cancel</a>
</form>