@page
@model Notino.Charts.Web.Pages.ClustersModel
@{
    ViewData["Title"] = "Clusters";
}

<h1 class="display-3">Clusters</h1>

<div class="row">
    @foreach (var cluster in Model.Clusters)
    {
        <div class="card shadow" style="width: 18rem;">
            <h4 class="card-header">
                @cluster.Name
            </h4>
            <div class="card-body">
                <dl>
                    <dt>Server</dt>
                    <dd>@cluster.Server</dd>
                </dl>
            </div>
        </div>
    }
</div>