@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="card-deck">
        @foreach (var chart in Model.Charts)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@chart.Name</h5>
                    <p class="card-text">@chart.Description</p>
                </div>
            </div>
        }
    </div>
</div>
