@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Notino Charts Server</h1>
    <p class="lead">Manage, approve and deploy internally developed charts into Kubernetes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Charts</h2>
                <p>View charts published to this server.</p>
                <p><a class="btn btn-dark" asp-page="/Charts/Index" role="button">View charts »</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Contexts</h2>
                <p>View Kubernetes contexts where you can deploy your charts.</p>
                <p><a class="btn btn-dark" asp-page="/Contexts/Index" role="button">View contexts »</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Releases</h2>
                <p>View deployments of your charts.</p>
                <p><a class="btn btn-dark" asp-page="/Releases/Index" role="button">View releases »</a></p>
            </div>
        </div>
    </div>
</div>
