@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
        <span class="navbar-text mr-sm-4 text-light">@User.Identity.Name</span>
        <button type="submit" class="btn btn-outline-light">Logout</button>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-outline-light" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}